*{
    margin: 0;
    padding: 0;
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.count{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Merriweather', serif;

}

#lottie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}